/* Importação: Fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --whiteHeaderBar: #f8f7f3;
    --blackShadowBar: rgba(55, 54, 54, 0.549);
    --whiteShadowBar: rgba(122, 122, 122, 0.549);
    --textHeaderColor: #373636;
    --bottomHeaderColor: #15aaff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bgColor);
    color: var(--fontColor);
}

.light-theme {
    --fontColor: var(--textHeaderColor);
    --bgColor: var(--whiteHeaderBar);
    --bgBottomColorHeader: var(--bottomHeaderColor);
    --bgButtonHover: var(--textHeaderColor);
    --shadowBar: var(--blackShadowBar);
}

.dark-theme {
    --fontColor: var(--whiteHeaderBar);
    --bgColor: var(--textHeaderColor);
    --bgBottomColorHeader: var(--bottomHeaderColor);
    --bgButtonHover: var(--whiteHeaderBar);
    --shadowBar: var(--whiteShadowBar);
}

header {
    box-shadow: 0 3px 10px var(--shadowBar);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.logo img {
    width: 55px;
}

hr {
    height: 30px;
    width: 3px;
    border-radius: 15px;
    border: none;
    background-color: var(--fontColor);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
}

.nav-item:hover a {
    color: var(--bottomHeaderColor);
}

.cv-button button {
    border: none;
    background-color: var(--bgBottomColorHeader);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cv-button button:hover {
    background-color: var(--bgButtonHover);
}

.cv-button button:hover a{
    color: var(--bottomHeaderColor);
}

.cv-button button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: transparent;
}

.color-button {
    display: block;
}

.color-button button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem;
    font-size: 20px;
}

.color-button button:active {
    transform: scale(0.9);
}

.color-button button img {
    display: flex;
    align-items: center;
    width: 25px;
}

.mobile-menu-icon {
    display: none;
}

.menu-mobile {
    display: none;
}

@media (width <= 768px) {
    .nav-bar {
        padding: 1.5rem;
    }

    .nav-item {
        display: none;
    }

    .cv-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        border: none;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        padding: 0.5rem;
    }

    .mobile-menu-icon button:active {
        transform: scale(0.9);
    }
    
    .mobile-menu-icon button img {
        display: flex;
        align-items: center;
        width: 25px;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-mobile .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .menu-mobile .cv-button {
        display: block;
        padding: 1rem 2rem;
    }

    .menu-mobile .cv-button button {
        width: 100%;
    }

    .open-menu {
        display: block;
    }
}